
			@import url("http://polymaps.org/style.css");

			html, body {
  				height: 100%;
  				width: 100%;
  				background-color: @brightwhite;
  				margin: 0;
  				font: 10px sans-serif;
			}

			.main-container {
  				width: 1000px;
  				margin: 0 auto;
  				padding: 40px 20px;
			}

			#chosen{
				float: center;
				font-family: 'Stoke', serif;
				color: #470024;
			}

			svg {
  				display: block;
			}

			circle {
  				stroke: black;
  				fill: red;
  				fill-opacity: .5;
			}

			#map {
				float: center;
  				width: 1000px;
  				height: 1000px;
			}
		
			p {
				vertical-align: text-top;
				font:20px sans-serif;
			}

			#copy {
			  position: absolute;
			  left: 0;
			  bottom: 4px;
			  padding-left: 5px;
			  font: 9px sans-serif;
			  color: #fff;
			  cursor: default;
			}

			#copy a {
			  color: #fff;
			}

			.compass .back {
			  fill: #eee;
			  fill-opacity: .8;
			}

			.compass .fore {
			  stroke: #999;
			  stroke-width: 1.5px;
			}

			.compass rect.back.fore {
			  fill: #999;
			  fill-opacity: .3;
			  stroke: #eee;
			  stroke-width: 1px;
			  shape-rendering: crispEdges;
			}

			.compass .direction {
			  fill: none;
			}

			.compass .chevron {
			  fill: none;
			  stroke: #999;
			  stroke-width: 5px;
			}

			.compass .zoom .chevron {
			  stroke-width: 4px;
			}

			.compass .active .chevron, .compass .chevron.active {
			  stroke: #fff;
			}

			.compass.active .active .direction {
			  fill: #999;
			}

			#chosen #chosen2 #chosen3 {
				border-radius:10px;
				width:45px;
				padding-top:10px; padding-bottom:10px;
				text-align:center;
				font-weight:bold;
				font-size:large;
				margin-left:40px;
			}
