
			@import url("http://polymaps.org/style.css");

			html, body {
  				height: 100%;
  				width: 100%;
  				background-color: @brightwhite;
  				margin: 0;
  				font: 10px sans-serif;
			}

			#time_slide{
				background-color: #fff;
				width: 100%;
				margin: 1em auto;
				padding-left: 30px;
			}

			input[type="range"]{
   				-webkit-appearance:none !important;
   				position: relative; 
				display: inline-block; 
				overflow: visible; 
				padding: 0; 
				margin: 24px 0px 0px 0px; 
				width:906px ; 
				height: 10px;
				background-color: #3F9BBA;
 			}

 			input[type="range"]::-webkit-slider-thumb{
  				<!---webkit-appearance:none !important; -->
				background: yellow; 
				background:url(button.png);
 			}

			.main-container{
  				width: 1000px;
  				margin: 0 auto;
  				padding: 0px 20px 0px 20px;
			}

			/* Metal ------------------------- */

			.metal {
				position: relative;
				margin: 26px auto;
				text-align: center;
				color: hsla(0,0%,20%,1);
				text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
				
				background-color: hsl(0,0%,90%);
				-webkit-transition: color .2s;
			}



			/** Radial ------------------------- 
				Metal styling borrowed from other site to illustrate Gilded Age Metaphor
			*/

			.radial.metal {
				line-height: 45px;
				background-image:	-webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
									-webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
									-webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
									-webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
									
									-webkit-repeating-radial-gradient(	50% 50%, 100% 100%, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   3%, hsla(0,0%,  0%,.1) 3.5%),
									-webkit-repeating-radial-gradient(	50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%,.1) 7.5%),
									-webkit-repeating-radial-gradient(	50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.2) 2.2%),
									
									-webkit-radial-gradient(	50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);					
			}


			.metal.radial:before, .metal.radial:after {
				content: "";
				top: 0;
				left: 0;
				position: absolute;
				width: inherit;
				height: inherit;
				
				/* fake conical gradients */
				background-image: 	-webkit-radial-gradient(  50%   0%, 10% 50%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
									-webkit-radial-gradient(  50% 100%, 10% 50%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
									-webkit-radial-gradient(   0%  50%, 50% 10%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
									-webkit-radial-gradient( 100%  50%, 50% 06%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%);
			}
			.metal.radial:before { 	-webkit-transform: rotate( 65deg); }
			.metal.radial:after {	-webkit-transform: rotate(-65deg); }

			h1{
				text-align: center;
				font-family: "HelveticaNeue-Light", "Helvetica Neue Light",sans-serif;				
				font-size: 24pt;
				padding: 0px 0px;	
				font-weight: normal;
				color: #425484;
			}

			.main-info{
				margin: 8px 0px;
			}

			#chosen{
				color: #470024;
				font-size: 16pt;
				font-family: 'Stoke', serif;
				margin-left: 10px;
			}

			#currentCounty{
				color: green;
				font-size: 16pt;
				font-family: 'Stoke', serif;
				margin-left: 10px;
			}

			#offices{
				color: green;
				color: #470024;
				font-size: 16pt;
				font-family: 'Stoke', serif;
				margin-left: 10px;
			}

			#year{
				position: relative; 
				display: inline-block; 
				overflow: visible; 
				padding: 0; 
				margin: 24px 0px 0px 0px; 
				width:878px ; 
			}

			.ui-slider{
				position: relative; 
				display: inline-block; 
				overflow: visible; 
				padding: 0; 
				margin: 24px 0px 0px 0px; 
				width:878px ; 
				height: 10px;
			}

			.ui-slider ui-slider-handle{ 
				position: absolute; 
				z-index: 10;  
				height: 22px; 
				opacity: .8;
			}

			.ui-widget-header {
				background-color: teal;
				height:8px;
				left:1px;
				top:1px;
				position:absolute;
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(100%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
			}

			h3{
				font-size: 8pt;
				color: grey;
				font-family: 'Stoke', serif;
				margin: 6px 0px -9px 0px;
				text-align: center;
			}

			p{
				display: inline;
			}

			.slider_label{
				font-size: 12pt;
				font-family: "Helvetica-Neue";
			}

			svg {
  				display: block;
			}

			circle {
  				stroke: black;
  				fill: red;
  				fill-opacity: .5;
			}

			#map {
				float: center;
  				width: 1000px;
  				height: 1000px;
			}

			#copy {
			  position: absolute;
			  left: 0;
			  bottom: 4px;
			  padding-left: 5px;
			  font: 9px sans-serif;
			  color: #fff;
			  cursor: default;
			}

			#copy a {
			  color: #fff;
			}

			.compass .back {
			  fill: #eee;
			  fill-opacity: .8;
			}

			.compass .fore {
			  stroke: #999;
			  stroke-width: 1.5px;
			}

			.compass rect.back.fore {
			  fill: #999;
			  fill-opacity: .3;
			  stroke: #eee;
			  stroke-width: 1px;
			  shape-rendering: crispEdges;
			}

			.compass .direction {
			  fill: none;
			}

			.compass .chevron {
			  fill: none;
			  stroke: #999;
			  stroke-width: 5px;
			}

			.compass .zoom .chevron {
			  stroke-width: 4px;
			}

			.compass .active .chevron, .compass .chevron.active {
			  stroke: #fff;
			}

			.compass.active .active .direction {
			  fill: #999;
			}

			#chosen #chosen2 #chosen3 {
				border-radius:10px;
				width:45px;
				padding-top:10px; padding-bottom:10px;
				text-align:center;
				font-weight:bold;
				font-size:large;
				margin-left:40px;
			}
